# Auto detect text files and perform LF normalization
*.txt       text
*.md        text
*.json      text
*.py        text
*.gitignore text
*.gitattributes text
*.png       text
*.jpg       text
*.jpge      text
*.gif       text
Dockerfile  text
LICENSE     text
